@tailwind base;
@tailwind components;
@tailwind utilities;

.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

* {
  transition: background-color 0.2s;
}

input,
textarea {
  outline: none;
  border: none;
  resize: none;
}

div::-webkit-scrollbar {
  width: 5px;
  background-color: none;
}

div::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: gray;
  border-radius: 50px;
}

textarea::-webkit-scrollbar {
  width: 5px;
  background-color: none;
}

textarea::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: gray;
  border-radius: 50px;
}

html::-webkit-scrollbar {
  display: none;
}
